{{!< layout}}

<!-- The dialog has a primary action "say hello", declared in the descriptor atlassian-connect.json -->
<!-- It is implemented in the js/addon.js file imported in the layout -->
<div class="aui-group">
  <div class="aui-item">
    <p>Click on the button</p>
  </div>
</div>
