{{!< layout}}

<!-- the Javascript file js/addon.js is imported in the layout -->
<!-- It contains functions which execute actions for buttons/links in this page -->

<div class="aui-group sidebar">
  <div class="aui-row">
    <div class="aui-item">
      <h3>Description</h3>
      <p>Simple-XDM fails to validate origin when the sidebar is reopened</p>
      <h3>Environment</h3>
      <p>OS X, Google Chrome Version 50.0.2661.86 (64-bit). I use Promises in my example and they don't work in IE</p>
      <h3>To reproduce:</h3>
      <ol>
        <li>Click on "Open dialog!"</li>
        <li>In the dialog, click on "Say Hello!"
        <li>Repeat until you get the error</li>
        <li>????</li>
        <li>PROFIT!!!</li>
      </ol>
      <p>Ok, not really profit, but you should be able to see the Simple-XDM error in your console by now.</p>
      <p>You should also see two receiveParameters logs when the dialog is opened the second time. The event should be undelegated when the sidebar is opened a second time.</p>
    </div>
  </div>
  <br>

  <div class="aui-row">
    <div class="aui-item">
      <button id="open_dialog" class="aui-button">Open Dialog!</button>
    </div>
  </div>
</div>